@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './reset';
@import './variables/global';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import 'react-redux-toastr/src/styles/index';

body {
  @apply bg-gray-900;
  padding: 0;
  margin: 0;
  font-family: "Outfit", serif;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
  @apply cursor-pointer focus:outline-none;
}

input:focus {
  box-shadow: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// dark theme
body.dark {
  @apply bg-white;
}