.MovieItem {
  @apply mb-4 flex items-stretch;

  > a {
    img {
      @apply rounded-image transition-colors;
      border: 1px solid transparent !important;
    }

    &:hover {
      img {
        border-color: var(--primary-color) !important;
      }
    }
  }
}

.info {
  @apply ml-4 flex flex-col justify-between;
  width: 67%;

  .heading {
    @apply text-gray-800 text-lg font-medium truncate;
    @apply dark:text-white;
  }

  .genres {
    @apply text-gray-800 text-sm;
    @apply dark:text-gray-600;
  }
}

.rating {
  @apply flex items-center mb-2;

  > svg {
    @apply fill-yellow-700 mr-2 text-lg;
  }

  > span {
    @apply text-gray-800 font-medium pt-0.5;
    @apply dark:text-white;
  }
}