.AppLink {

}

.logo {
  @apply px-layout mb-10 block;
}

.nav-link {
  @apply flex items-center text-gray-800 px-3 mb-4 cursor-pointer;
  @apply dark:text-gray-600;

  > span {
    @apply ml-3 text-lg hover:text-secondary;
    @apply dark:hover:text-white;
  }

  > svg {
    @apply text-2lg;
  }

  > span,
  > svg {
    @apply transition-colors;
  }
}

.sidebar-link {
  @apply flex items-center py-3 px-4 relative;

  &::after {
    @apply absolute -right-0.5 h-0 w-0.5 bg-transparent;
    content: '';
    top: 28%;
    transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  &:hover::after {
    @apply bg-black h-2/5;
    @apply dark:bg-primary;
  }

  img {
    @apply rounded-image
  }

  > span {
    @apply ml-3 text-white truncate;
    @apply dark:text-white;

    &:last-child {
      width: 70%;
    }
  }
}